<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>YCC Port Computer Authentication</title>
    </head>

    <body>
        <h1>Scan to login</h1>
        <h2>URL = {{qr_login_url}}</h2>
        <img src="https://chart.googleapis.com/chart?cht=qr&chs=500x500&chl={{{encoded_qr_login_url}}}" alt="login url qr code" width="500" height="500">

        <script>
            function checkQrAuthorization() {
              const req = new XMLHttpRequest();
              req.open('GET', '{{{check_qr_authorization_url}}}', true);
              req.onreadystatechange = function readyStateChanged() {
                if (req.readyState !== 4 || req.status !== 200) {
                  return;
                }
                const response = JSON.parse(req.responseText);
                if (response.authenticated) {
                  window.location.replace(response.callback_url);
                }
              };
              req.send();
            }

            (function timerCallback() {
              checkQrAuthorization();
              setTimeout(() => {
                timerCallback();
              }, 1000);
            }());
        </script>
    </body>
</html>
