<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>check session iframe</title>
    </head>

    <body>
        <script>
          function getCookie(cname) {
            const name = `${cname}=`;
            const decodedCookie = decodeURIComponent(document.cookie);
            const ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i += 1) {
              let c = ca[i];
              while (c.charAt(0) === ' ') {
                c = c.substring(1);
              }
              if (c.indexOf(name) === 0) {
                return c.substring(name.length, c.length);
              }
            }
            return '';
          }

          function receiveMessage(e) { // e.data has client_id and session_state
            const sessionState = e.data.split(' ')[1];

            const ss = getCookie('session');
            if (sessionState === ss) {
              const req = new XMLHttpRequest();
              req.open('POST', '{{{check_session_authorization_endpoint}}}', true);
              req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

              req.onreadystatechange = function readyStateChanged() {
                if (req.readyState !== 4 || req.status !== 200) {
                  return;
                }
                const response = JSON.parse(req.responseText);
                if (response.active) {
                  e.source.postMessage('unchanged', e.origin);
                } else {
                  e.source.postMessage('changed', e.origin);
                }
              };
              req.send(`session=${ss}`);
            } else {
              e.source.postMessage('changed', e.origin);
            }
          }
          window.addEventListener('message', receiveMessage, false);
        </script>
    </body>
</html>
